#main{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    height:80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    border-radius: 5vh;
}
#mailimage{
    text-align: center;
}
#hyundaiimage{
    text-align: center;
}
a img{
    max-height: 20vh;
    border-radius: 5vh;
}
a img:hover{
    max-height: 22vh;
}