body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: midnightblue;
}

h1 {
    font-size: 100px;
    color: ivory;
    position: relative;
    
}
