body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: midnightblue;
}

.button {
    background-color: gold;
    text-align: center;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    border: 3px solid black;
    cursor: pointer;
    float: left;
}

.button:hover {background-color:yellow;}
