body{
    background-color: lightblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
#tytul{
    font-size: 70px;
    margin-bottom: 15vh;
}
img{
    height: 70px;
    width: 100px;
}
a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

#link1{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px;
    width: 175px;
    margin: 5px;
    background-color: white;
    font-size: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#link2{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 100px;
    padding: 20px;
    width: 175px;
    margin: 5px;
    background-color: white;
    font-size: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#link3{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 100px;
    padding: 20px;
    width: 175px;
    margin: 5px;
    background-color: white;
    font-size: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#stopka{
    position: fixed;
    bottom: 0;
    width: 100%; 
    color: black;
    text-align: center;
    padding: 2px 0px;
    font-family: 'Arial', sans-serif;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#napis2{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
