#main{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    height:80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    border-radius: 5vh;
}
#tekstowy{
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 1vh;
    font-size: 20px;
    margin-bottom: 15vh;
    color: black;
    background-color: white;
    border: 2px black solid;
}
#tekstowy:hover{
    color: white;
    background-color: black;
    border: 2px white solid;
}
#hyundaiimage{
    text-align: center;
}
a img{
    max-height: 20vh;
    border-radius: 5vh;
}
a img:hover{
    transform: scale(1.05);
}

