
body{
    background-color: #eaf9ff;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
li{
   margin: 20px 0; 
}
main{
    max-height: 100%;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#title{
    text-align: center;
    font-size: 3vh;
}
img{
    max-width: 80vh;
    max-height: auto;
    border-radius: 1vh;
}
#information{
    max-width: 50vh;
    margin-bottom: 20vh;
}
.description{
    max-width: 50vh;
    font-size: 1.2vh;
    margin-bottom: 30vh;
}
figure{
    text-align: center;
    font-size: 0.9vh;
}
a{
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    padding: 0.5vh;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
a:hover{
    background-color: white;
}






